.landing-content-wrapper {
  text-align: center;
  padding: 80px;
  .landing-image {
    border: 5px solid #337ab7;
    width: 200px;
    height: 200px;
    border-radius: 300px;
  }
}

.top-border {
  width: 100%;
}

body {
  width: 100%;
  display: table;
  border-top: 5px solid #337ab7;
  background: #fff url("../images/bg-pattern.png");
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: #337ab7;
}

h3 {
  font-size: 30px;
  color: #337ab7;
}

.text-wrapper {
  padding: 40px 0;
  a {
    border: 1px solid #9a9a9a;
    width: 80px;
    display: inline-block;
    padding: 5px 0;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    color: #9a9a9a;
  }
  a:hover {
    text-decoration: none;
    border: 1px solid #337ab7;
    color: #337ab7;
  }
}

.icons-wrapper {
  .fa {
    color: #9a9a9a;
    font-size: 20px;
    padding: 5px;
  }
  .fa:hover {
    color: #337ab7;
    text-decoration: none;
  }
}

a {
  text-decoration: none;
}
